USE [master]
GO
/****** Object:  Database [PlataformasDeDesarrollo]    Script Date: 26/10/2021 06:06:23 ******/
CREATE DATABASE [PlataformasDeDesarrollo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlataformasDeDesarrollo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PlataformasDeDesarrollo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlataformasDeDesarrollo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PlataformasDeDesarrollo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlataformasDeDesarrollo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlataformasDeDesarrollo]
GO
/****** Object:  Table [dbo].[Carro]    Script Date: 26/10/2021 06:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carro](
	[idCarro] [smallint] IDENTITY(1,1) NOT NULL,
	[idUsuario] [smallint] NOT NULL,
 CONSTRAINT [PK_Carro] PRIMARY KEY CLUSTERED 
(
	[idCarro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carro_producto]    Script Date: 26/10/2021 06:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carro_producto](
	[idCarroProducto] [smallint] IDENTITY(1,1) NOT NULL,
	[idCarro] [smallint] NOT NULL,
	[idProducto] [smallint] NOT NULL,
	[cantidad] [tinyint] NOT NULL,
 CONSTRAINT [PK_carro_producto] PRIMARY KEY CLUSTERED 
(
	[idCarroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 26/10/2021 06:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 26/10/2021 06:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[idCompra] [smallint] IDENTITY(1,1) NOT NULL,
	[idUsuario] [smallint] NOT NULL,
	[total] [int] NOT NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra_producto]    Script Date: 26/10/2021 06:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra_producto](
	[idCompraProducto] [smallint] IDENTITY(1,1) NOT NULL,
	[idCompra] [smallint] NOT NULL,
	[idProducto] [smallint] NOT NULL,
	[cantidad] [tinyint] NOT NULL,
 CONSTRAINT [PK_compra_producto] PRIMARY KEY CLUSTERED 
(
	[idCompraProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 26/10/2021 06:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[precio] [decimal](8, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[idCategoria] [smallint] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/10/2021 06:06:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [smallint] IDENTITY(1,1) NOT NULL,
	[dni] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[cuitCuil] [int] NOT NULL,
	[rol] [tinyint] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carro] ON 

INSERT [dbo].[Carro] ([idCarro], [idUsuario]) VALUES (1, 1)
INSERT [dbo].[Carro] ([idCarro], [idUsuario]) VALUES (2, 2)
INSERT [dbo].[Carro] ([idCarro], [idUsuario]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Carro] OFF
GO
SET IDENTITY_INSERT [dbo].[carro_producto] ON 

INSERT [dbo].[carro_producto] ([idCarroProducto], [idCarro], [idProducto], [cantidad]) VALUES (25, 2, 47, 2)
SET IDENTITY_INSERT [dbo].[carro_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([idCategoria], [nombre]) VALUES (1, N'Comida')
INSERT [dbo].[Categoria] ([idCategoria], [nombre]) VALUES (2, N'Bebida')
INSERT [dbo].[Categoria] ([idCategoria], [nombre]) VALUES (3, N'Ropa')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([idCompra], [idUsuario], [total]) VALUES (6, 2, 723)
SET IDENTITY_INSERT [dbo].[Compra] OFF
GO
SET IDENTITY_INSERT [dbo].[compra_producto] ON 

INSERT [dbo].[compra_producto] ([idCompraProducto], [idCompra], [idProducto], [cantidad]) VALUES (5, 6, 20, 3)
SET IDENTITY_INSERT [dbo].[compra_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [nombre], [precio], [cantidad], [idCategoria]) VALUES (1, N'Gaseosa', CAST(125.00 AS Decimal(8, 2)), 95, 2)
INSERT [dbo].[Producto] ([idProducto], [nombre], [precio], [cantidad], [idCategoria]) VALUES (2, N'Cerveza', CAST(120.00 AS Decimal(8, 2)), 50, 2)
INSERT [dbo].[Producto] ([idProducto], [nombre], [precio], [cantidad], [idCategoria]) VALUES (3, N'Agua', CAST(78.00 AS Decimal(8, 2)), 25, 2)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [dni], [nombre], [apellido], [mail], [password], [cuitCuil], [rol]) VALUES (1, 123456, N'Admin', N'Admin', N'admin@gmail.com', N'123456', 34865218, 1)
INSERT [dbo].[Usuario] ([idUsuario], [dni], [nombre], [apellido], [mail], [password], [cuitCuil], [rol]) VALUES (2, 654321, N'Pepito', N'Lopez', N'pepitolopez@gmail.com', N'654321', 25689475, 2)
INSERT [dbo].[Usuario] ([idUsuario], [dni], [nombre], [apellido], [mail], [password], [cuitCuil], [rol]) VALUES (3, 32154869, N'José', N'Perez', N'joseperez@hotmail.com', N'123456', 20321548, 3)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Carro]  WITH CHECK ADD  CONSTRAINT [FK_Carro_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Carro] CHECK CONSTRAINT [FK_Carro_Usuario]
GO
ALTER TABLE [dbo].[carro_producto]  WITH CHECK ADD  CONSTRAINT [FK_carro_producto_Carro1] FOREIGN KEY([idCarro])
REFERENCES [dbo].[Carro] ([idCarro])
GO
ALTER TABLE [dbo].[carro_producto] CHECK CONSTRAINT [FK_carro_producto_Carro1]
GO
ALTER TABLE [dbo].[carro_producto]  WITH CHECK ADD  CONSTRAINT [FK_carro_producto_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[carro_producto] CHECK CONSTRAINT [FK_carro_producto_Producto]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Usuario]
GO
ALTER TABLE [dbo].[compra_producto]  WITH CHECK ADD  CONSTRAINT [FK_compra_producto_Compra] FOREIGN KEY([idCompra])
REFERENCES [dbo].[Compra] ([idCompra])
GO
ALTER TABLE [dbo].[compra_producto] CHECK CONSTRAINT [FK_compra_producto_Compra]
GO
ALTER TABLE [dbo].[compra_producto]  WITH CHECK ADD  CONSTRAINT [FK_compra_producto_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[compra_producto] CHECK CONSTRAINT [FK_compra_producto_Producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
USE [master]
GO
